
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}


      <h2 class="govuk-heading-m">Examples</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
            <a href="/guidance">
              Guidance
            </a>
          </li>
      </ul>
    </div>
</div>

{% endblock %}
